body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 20px;
}

section h2 {
    color: #333;
    margin-top: 0;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

section p {
    display: none; /* Oculta el contenido inicialmente */
}

section.active p {
    display: block; /* Muestra el contenido cuando la sección es activa */
}

section h2 {
    cursor: pointer; /* Cambia el cursor para indicar que es clicable */
}
